<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Football"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.admin.StadiumRevenueDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ManageRevenueActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ManageReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.BookingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.owner.OwnerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.UserSelectCourtActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ManageStadiumActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.AddEditStadiumActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ManageCourtActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.AddEditCourtActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ManageBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ManageUsersActivity"
            android:exported="false" />
    </application>

</manifest>